main {
    text-align: center;
    padding: 20px;
}
nav{
    background-color: #d6d6d6;
    color:#fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    display: flex;
}
nav li{
    margin-right: 20px;
}
nav a{
    color:#000;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: #ffd700;
}
.logo img{
    height: 40px;
    margin-right: 20px;
}
body{
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
dl{
    margin-left: 20px;
}
dt{
    font-weight: bold;
    margin-top: 10px;
}
dd{
    margin-bottom: 40px;
}
dl button{
    
}
footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
footer nav ul {
  margin-bottom: 10px;
}
footer nav ul li{
    display: inline;
    margin-right: 20px;
}
footer nav ul li:last-child{
    margin-right: 0;
}
footer nav ul li a {
    color: #000;
}
footer a{
    color: #ffd700#;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 768px) {
    header {
        padding: 15px 0;
    }


    .Nav-Bar {
        flex-direction: column;
        align-items: flex-start;
    }


    .logo img {
        margin-bottom: 10px;
    }


    ul {
        margin-top: 10px;
        justify-content: flex-start;
    }


    li {
        margin-right: 0;
        margin-bottom: 10px;
    }


    main {
        padding: 15px;
    }


    .objectives, .Programs, .mentors, #testimonials {
        padding: 15px;
    }


    img {
        width: 100%;
    }
}
